Repository blackjackbanks/test-prm-9ipkpj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-maintainers, @backend-team, @security-team, @frontend-team, @devops-team, @ai-team, @integration-team, @tech-writers, @qa-team, @dba-team, @api-team

Add public-samples/test-prm-9ipkpj/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/.github/workflows/web-deploy.yml
  .github/workflows/web-deploy.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/infrastructure/docker/backend.dockerfile
  infrastructure/docker/backend.dockerfile
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/docker/nginx.conf
  infrastructure/docker/nginx.conf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/docker/web.dockerfile
  infrastructure/docker/web.dockerfile
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/backend/pdb.yaml
  infrastructure/kubernetes/backend/pdb.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/base/secret.yaml
  infrastructure/kubernetes/base/secret.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/base/serviceaccount.yaml
  infrastructure/kubernetes/base/serviceaccount.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/external-secrets/externalsecret.yaml
  infrastructure/kubernetes/external-secrets/externalsecret.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/external-secrets/secretstore.yaml
  infrastructure/kubernetes/external-secrets/secretstore.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/istio/authorizationpolicy.yaml
  infrastructure/kubernetes/istio/authorizationpolicy.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/istio/destinationrule.yaml
  infrastructure/kubernetes/istio/destinationrule.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/istio/gateway.yaml
  infrastructure/kubernetes/istio/gateway.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/istio/virtualservice.yaml
  infrastructure/kubernetes/istio/virtualservice.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/monitoring/jaeger.yaml
  infrastructure/kubernetes/monitoring/jaeger.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/web/hpa.yaml
  infrastructure/kubernetes/web/hpa.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/web/pdb.yaml
  infrastructure/kubernetes/web/pdb.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

.github/CODEOWNERS:

* @core-maintainers

# Backend service code requires both backend and security team review
src/backend/ @backend-team @security-team

# Frontend web application code owned by frontend team
src/web/ @frontend-team

# Infrastructure and deployment configuration requires devops and security review
infrastructure/ @devops-team @security-team

# CI/CD workflow configurations owned by devops team
.github/workflows/ @devops-team

# Security-specific code owned by security team
src/backend/src/security/ @security-team

# Contextual engine code requires both AI and backend team review
src/backend/src/contextual_engine/ @ai-team @backend-team

# Integration hub code requires both integration and backend team review
src/backend/src/integration_hub/ @integration-team @backend-team

# Package and dependency files require security review
package.json @security-team @devops-team
package-lock.json @security-team @devops-team
requirements.txt @security-team @devops-team
go.mod @security-team @devops-team
go.sum @security-team @devops-team

# Configuration files require devops review
*.yaml @devops-team
*.yml @devops-team
*.json @devops-team
*.toml @devops-team

# Documentation changes require tech writer review
docs/ @tech-writers @core-maintainers
*.md @tech-writers @core-maintainers

# Test files require respective team reviews
src/backend/tests/ @backend-team @qa-team
src/web/tests/ @frontend-team @qa-team

# Database migrations require DBA review
src/backend/migrations/ @dba-team @backend-team

# API specifications require API team review
api/ @api-team @backend-team
