Repository blackjackbanks/test-prm-9ipkpj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-maintainers, @backend-team, @security-team, @frontend-team, @devops-team, @ai-team, @integration-team, @tech-writers, @qa-team, @dba-team, @api-team

.github/CODEOWNERS:

* @core-maintainers

# Backend service code requires both backend and security team review
src/backend/ @backend-team @security-team

# Frontend web application code owned by frontend team
src/web/ @frontend-team

# Infrastructure and deployment configuration requires devops and security review
infrastructure/ @devops-team @security-team

# CI/CD workflow configurations owned by devops team
.github/workflows/ @devops-team

# Security-specific code owned by security team
src/backend/src/security/ @security-team

# Contextual engine code requires both AI and backend team review
src/backend/src/contextual_engine/ @ai-team @backend-team

# Integration hub code requires both integration and backend team review
src/backend/src/integration_hub/ @integration-team @backend-team

# Package and dependency files require security review
package.json @security-team @devops-team
package-lock.json @security-team @devops-team
requirements.txt @security-team @devops-team
go.mod @security-team @devops-team
go.sum @security-team @devops-team

# Configuration files require devops review
*.yaml @devops-team
*.yml @devops-team
*.json @devops-team
*.toml @devops-team

# Documentation changes require tech writer review
docs/ @tech-writers @core-maintainers
*.md @tech-writers @core-maintainers

# Test files require respective team reviews
src/backend/tests/ @backend-team @qa-team
src/web/tests/ @frontend-team @qa-team

# Database migrations require DBA review
src/backend/migrations/ @dba-team @backend-team

# API specifications require API team review
api/ @api-team @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/organization.py
  src/backend/src/data/schemas/organization.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/template.py
  src/backend/src/data/schemas/template.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/user.py
  src/backend/src/data/schemas/user.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/__init__.py
  src/backend/src/integration_hub/__init__.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/client.py
  src/backend/src/integration_hub/client.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/config.py
  src/backend/src/integration_hub/config.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/sync.py
  src/backend/src/integration_hub/sync.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/adapters/__init__.py
  src/backend/src/integration_hub/adapters/__init__.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/adapters/analytics.py
  src/backend/src/integration_hub/adapters/analytics.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/adapters/crm.py
  src/backend/src/integration_hub/adapters/crm.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/integration_hub/adapters/documents.py
  src/backend/src/integration_hub/adapters/documents.py
Owners: @integration-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/__init__.py
  src/backend/src/security/__init__.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/authentication.py
  src/backend/src/security/authentication.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/authorization.py
  src/backend/src/security/authorization.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/encryption.py
  src/backend/src/security/encryption.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/jwt.py
  src/backend/src/security/jwt.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/security/oauth2.py
  src/backend/src/security/oauth2.py
Owners: @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/__init__.py
  src/backend/src/services/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/context_service.py
  src/backend/src/services/context_service.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/integration_service.py
  src/backend/src/services/integration_service.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/organization_service.py
  src/backend/src/services/organization_service.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/template_service.py
  src/backend/src/services/template_service.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/services/user_service.py
  src/backend/src/services/user_service.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/__init__.py
  src/backend/src/utils/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/cache.py
  src/backend/src/utils/cache.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/constants.py
  src/backend/src/utils/constants.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/exceptions.py
  src/backend/src/utils/exceptions.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/helpers.py
  src/backend/src/utils/helpers.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/utils/validators.py
  src/backend/src/utils/validators.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/__init__.py
  src/backend/tests/integration/__init__.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_auth.py
  src/backend/tests/integration/test_auth.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_context.py
  src/backend/tests/integration/test_context.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_integrations.py
  src/backend/tests/integration/test_integrations.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_organizations.py
  src/backend/tests/integration/test_organizations.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_templates.py
  src/backend/tests/integration/test_templates.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/integration/test_users.py
  src/backend/tests/integration/test_users.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/__init__.py
  src/backend/tests/unit/__init__.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/test_contextual_engine.py
  src/backend/tests/unit/test_contextual_engine.py
Owners: @backend-team, @qa-team
