Repository blackjackbanks/test-prm-9ipkpj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-maintainers, @backend-team, @security-team, @frontend-team, @devops-team, @ai-team, @integration-team, @tech-writers, @qa-team, @dba-team, @api-team

.github/CODEOWNERS:

* @core-maintainers

# Backend service code requires both backend and security team review
src/backend/ @backend-team @security-team

# Frontend web application code owned by frontend team
src/web/ @frontend-team

# Infrastructure and deployment configuration requires devops and security review
infrastructure/ @devops-team @security-team

# CI/CD workflow configurations owned by devops team
.github/workflows/ @devops-team

# Security-specific code owned by security team
src/backend/src/security/ @security-team

# Contextual engine code requires both AI and backend team review
src/backend/src/contextual_engine/ @ai-team @backend-team

# Integration hub code requires both integration and backend team review
src/backend/src/integration_hub/ @integration-team @backend-team

# Package and dependency files require security review
package.json @security-team @devops-team
package-lock.json @security-team @devops-team
requirements.txt @security-team @devops-team
go.mod @security-team @devops-team
go.sum @security-team @devops-team

# Configuration files require devops review
*.yaml @devops-team
*.yml @devops-team
*.json @devops-team
*.toml @devops-team

# Documentation changes require tech writer review
docs/ @tech-writers @core-maintainers
*.md @tech-writers @core-maintainers

# Test files require respective team reviews
src/backend/tests/ @backend-team @qa-team
src/web/tests/ @frontend-team @qa-team

# Database migrations require DBA review
src/backend/migrations/ @dba-team @backend-team

# API specifications require API team review
api/ @api-team @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/test_data_models.py
  src/backend/tests/unit/test_data_models.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/test_integration_hub.py
  src/backend/tests/unit/test_integration_hub.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/test_security.py
  src/backend/tests/unit/test_security.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/backend/tests/unit/test_services.py
  src/backend/tests/unit/test_services.py
Owners: @backend-team, @qa-team

Add public-samples/test-prm-9ipkpj/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/README.md
  src/web/README.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/package.json
  src/web/package.json
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/fonts/SFPro-Bold.woff2
  src/web/src/assets/fonts/SFPro-Bold.woff2
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/fonts/SFPro-Medium.woff2
  src/web/src/assets/fonts/SFPro-Medium.woff2
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/fonts/SFPro-Regular.woff2
  src/web/src/assets/fonts/SFPro-Regular.woff2
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/chat.svg
  src/web/src/assets/icons/chat.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/dashboard.svg
  src/web/src/assets/icons/dashboard.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/integrations.svg
  src/web/src/assets/icons/integrations.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/logo.svg
  src/web/src/assets/icons/logo.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/settings.svg
  src/web/src/assets/icons/settings.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/assets/icons/templates.svg
  src/web/src/assets/icons/templates.svg
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/chat/AttachmentUpload.tsx
  src/web/src/components/chat/AttachmentUpload.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/chat/ChatWindow.tsx
  src/web/src/components/chat/ChatWindow.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/chat/ContextPanel.tsx
  src/web/src/components/chat/ContextPanel.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/chat/MessageInput.tsx
  src/web/src/components/chat/MessageInput.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/chat/MessageList.tsx
  src/web/src/components/chat/MessageList.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/Checkbox.tsx
  src/web/src/components/common/Checkbox.tsx
Owners: @frontend-team

Add public-samples/test-prm-9ipkpj/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @frontend-team
