Repository blackjackbanks/test-prm-9ipkpj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-maintainers, @backend-team, @security-team, @frontend-team, @devops-team, @ai-team, @integration-team, @tech-writers, @qa-team, @dba-team, @api-team

Add public-samples/test-prm-9ipkpj/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/aks.tf
  infrastructure/terraform/azure/aks.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/cdn.tf
  infrastructure/terraform/azure/cdn.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/dns.tf
  infrastructure/terraform/azure/dns.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/main.tf
  infrastructure/terraform/azure/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/outputs.tf
  infrastructure/terraform/azure/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/postgresql.tf
  infrastructure/terraform/azure/postgresql.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/redis.tf
  infrastructure/terraform/azure/redis.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/storage.tf
  infrastructure/terraform/azure/storage.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/variables.tf
  infrastructure/terraform/azure/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/infrastructure/terraform/azure/vnet.tf
  infrastructure/terraform/azure/vnet.tf
Owners: @devops-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/README.md
  src/backend/README.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @devops-team

Add public-samples/test-prm-9ipkpj/src/backend/pytest.ini
  src/backend/pytest.ini
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @security-team, @devops-team

Add public-samples/test-prm-9ipkpj/src/backend/setup.cfg
  src/backend/setup.cfg
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/__init__.py
  src/backend/src/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/dependencies.py
  src/backend/src/api/dependencies.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/error_handlers.py
  src/backend/src/api/error_handlers.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/middleware.py
  src/backend/src/api/middleware.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/websocket.py
  src/backend/src/api/websocket.py
Owners: @api-team, @backend-team

.github/CODEOWNERS:

* @core-maintainers

# Backend service code requires both backend and security team review
src/backend/ @backend-team @security-team

# Frontend web application code owned by frontend team
src/web/ @frontend-team

# Infrastructure and deployment configuration requires devops and security review
infrastructure/ @devops-team @security-team

# CI/CD workflow configurations owned by devops team
.github/workflows/ @devops-team

# Security-specific code owned by security team
src/backend/src/security/ @security-team

# Contextual engine code requires both AI and backend team review
src/backend/src/contextual_engine/ @ai-team @backend-team

# Integration hub code requires both integration and backend team review
src/backend/src/integration_hub/ @integration-team @backend-team

# Package and dependency files require security review
package.json @security-team @devops-team
package-lock.json @security-team @devops-team
requirements.txt @security-team @devops-team
go.mod @security-team @devops-team
go.sum @security-team @devops-team

# Configuration files require devops review
*.yaml @devops-team
*.yml @devops-team
*.json @devops-team
*.toml @devops-team

# Documentation changes require tech writer review
docs/ @tech-writers @core-maintainers
*.md @tech-writers @core-maintainers

# Test files require respective team reviews
src/backend/tests/ @backend-team @qa-team
src/web/tests/ @frontend-team @qa-team

# Database migrations require DBA review
src/backend/migrations/ @dba-team @backend-team

# API specifications require API team review
api/ @api-team @backend-team
