Repository blackjackbanks/test-prm-9ipkpj, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-maintainers, @backend-team, @security-team, @frontend-team, @devops-team, @ai-team, @integration-team, @tech-writers, @qa-team, @dba-team, @api-team

.github/CODEOWNERS:

* @core-maintainers

# Backend service code requires both backend and security team review
src/backend/ @backend-team @security-team

# Frontend web application code owned by frontend team
src/web/ @frontend-team

# Infrastructure and deployment configuration requires devops and security review
infrastructure/ @devops-team @security-team

# CI/CD workflow configurations owned by devops team
.github/workflows/ @devops-team

# Security-specific code owned by security team
src/backend/src/security/ @security-team

# Contextual engine code requires both AI and backend team review
src/backend/src/contextual_engine/ @ai-team @backend-team

# Integration hub code requires both integration and backend team review
src/backend/src/integration_hub/ @integration-team @backend-team

# Package and dependency files require security review
package.json @security-team @devops-team
package-lock.json @security-team @devops-team
requirements.txt @security-team @devops-team
go.mod @security-team @devops-team
go.sum @security-team @devops-team

# Configuration files require devops review
*.yaml @devops-team
*.yml @devops-team
*.json @devops-team
*.toml @devops-team

# Documentation changes require tech writer review
docs/ @tech-writers @core-maintainers
*.md @tech-writers @core-maintainers

# Test files require respective team reviews
src/backend/tests/ @backend-team @qa-team
src/web/tests/ @frontend-team @qa-team

# Database migrations require DBA review
src/backend/migrations/ @dba-team @backend-team

# API specifications require API team review
api/ @api-team @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/__init__.py
  src/backend/src/api/routes/__init__.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/auth.py
  src/backend/src/api/routes/auth.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/context.py
  src/backend/src/api/routes/context.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/health.py
  src/backend/src/api/routes/health.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/integrations.py
  src/backend/src/api/routes/integrations.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/organizations.py
  src/backend/src/api/routes/organizations.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/templates.py
  src/backend/src/api/routes/templates.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/api/routes/users.py
  src/backend/src/api/routes/users.py
Owners: @api-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/config/__init__.py
  src/backend/src/config/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/config/database.py
  src/backend/src/config/database.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/config/logging.py
  src/backend/src/config/logging.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/config/security.py
  src/backend/src/config/security.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/config/settings.py
  src/backend/src/config/settings.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/__init__.py
  src/backend/src/contextual_engine/__init__.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/inference.py
  src/backend/src/contextual_engine/inference.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/llama_config.py
  src/backend/src/contextual_engine/llama_config.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/models.py
  src/backend/src/contextual_engine/models.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/processor.py
  src/backend/src/contextual_engine/processor.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/contextual_engine/training.py
  src/backend/src/contextual_engine/training.py
Owners: @ai-team, @backend-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/__init__.py
  src/backend/src/data/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/migrations/README.md
  src/backend/src/data/migrations/README.md
Owners: @tech-writers, @core-maintainers

Add public-samples/test-prm-9ipkpj/src/backend/src/data/migrations/env.py
  src/backend/src/data/migrations/env.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/migrations/script.py.mako
  src/backend/src/data/migrations/script.py.mako
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/migrations/versions/.gitkeep
  src/backend/src/data/migrations/versions/.gitkeep
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/__init__.py
  src/backend/src/data/models/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/context.py
  src/backend/src/data/models/context.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/integration.py
  src/backend/src/data/models/integration.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/organization.py
  src/backend/src/data/models/organization.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/template.py
  src/backend/src/data/models/template.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/models/user.py
  src/backend/src/data/models/user.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/__init__.py
  src/backend/src/data/repositories/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/base.py
  src/backend/src/data/repositories/base.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/context.py
  src/backend/src/data/repositories/context.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/integration.py
  src/backend/src/data/repositories/integration.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/organization.py
  src/backend/src/data/repositories/organization.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/template.py
  src/backend/src/data/repositories/template.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/repositories/user.py
  src/backend/src/data/repositories/user.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/__init__.py
  src/backend/src/data/schemas/__init__.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/context.py
  src/backend/src/data/schemas/context.py
Owners: @backend-team, @security-team

Add public-samples/test-prm-9ipkpj/src/backend/src/data/schemas/integration.py
  src/backend/src/data/schemas/integration.py
Owners: @backend-team, @security-team
